{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="form-group">
    {{ form_start(form) }}
    {{ form_row(form.libellet, {'attr':{'placeholder':'Taper un libellet'}}) }}
    {{ form_row(form.description, {'attr':{'placeholder':'Taper une description'}}) }}
    <button type="submit">mettre à jour</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
