{% extends "base.html.twig" %}

{% block body %}
{% if reservations != null %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">dater</th>
      <th scope="col">etat</th>
      <th scope="col" colspan="2">Opreation</th>
      </tr>
    {% for reservation in reservations %}
    <tr>
      <td>{{reservation.dater | date("m/d/Y")}} 
      </td> 
      <td>{{reservation.etat}} 
      </td> 
<td>
     <a href="{{path('updateReservation',{'id':reservation})}}" class="btn btn-primary">mettre à jour</a>
    </td>
    <td>
    <a href="{{path('deleteReservation',{'id':reservation})}}" class="btn btn-primary">supprimer</a>
    </td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>la liste des reservations est vide</p>
{% endif %}
    
{% endblock %}